
body, html, #root {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: 100%;
  background: url('https://img.freepik.com/vector-premium/fondo-degradado-blanco-gris-abstracto-concepto-diseno-vectorial-fondo-gris-blanco-semitono-diseno-web-decorativo-o-plantilla-diseno-banner-poster_301033-475.jpg') no-repeat center center fixed;
  background-size: cover;
  font-family: 'Montserrat', sans-serif; /* o el que uses */
}
